<%= form_with(model: short_link, local: true) do |form| %>
  <% if short_link.errors.any? %>
    <%= errors_for(@short_link) %>
  <% end %>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
